<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Doyeon's Portfolio</title>
  <meta name="description" content="Doyeon's portfolio that wanna be a front-end developer">
  <meta name="author" content="Doyeon">
  <link rel="icon" type="image/png" href="images/logo/favicon.png">
  <link rel="stylesheet" href="css/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap" rel="stylesheet"> 
  <script src="https://kit.fontawesome.com/d01e7b9f50.js" crossorigin="anonymous"></script>
</head>

<body>
  <h1 class="hidden">Welcome to Do Station</h1>
  <!-- Navbar-->
  <nav id="navbar">
    <div class="navbar__logo"><a href="index.html"><img src="images/logo/logo.svg" alt="Logo Image"></a></div>
    <ul class="navbar__menu disNo">
      <li class="navbar__menu__item"><a href="index.html">Home</a></li>
      <li class="navbar__menu__item"><a href="index.html">About</a></li>
      <li class="navbar__menu__item"><a href="index.html">Skills</a></li>
      <li data-link="#work" class="navbar__menu__item active">My work</li>
      <li class="navbar__menu__item"><a href="contact.html">Contact</a></li>
    </ul>

    <!-- Toggle button -->
    <div class="navbar__toggle-btn">
      <i class="fa-solid fa-bars"></i>
    </div>
  </nav>

  <!-- Home -->
  <section id="home__work" class="home__video">
    <h2 class="hidden">Video Section</h2>
    <div class="home__container2">
      <video autoplay loop muted controls>
        <source src="video/portfolio_video.mp4" type="video/mp4">
        <strong>Your browser does not support the video tag.</strong>
      </video>
    </div>
  </section>

  
  <!-- Work -->
  <section id="work" class="section3">
    <h2 class="hidden">Portfolio Section</h2>
    <h2>My work</h2>
    <h3>Projects</h3>
    <div class="work__categories disNo">
      <button class="category__btn selected">All<span class="category__count">6</span></button>
      <button class="category__btn">Develop<span class="category__count">4</span></button>
      <button class="category__btn">Design<span class="category__count">2</span></button>
    </div>
  </section>
  <section id="app" class="work__box">
    <h2 class="hidden">Portfolio 2</h2>
    <div class="work__project__section section">
      <piecesthumb @loadbdata="loadShowBox" v-for="portfolio in portfolioData" :portfolio="portfolio"></piecesthumb>
    </div>

    <div id="features">
      <showbox @closelb="this.show = false" v-if="show" :portfolio="loadBData"></showbox>
    </div>
  </section>


  <!-- Footer -->
  <section id="footer" class="section2">
    <h2 class="hidden">Footer</h2>
    <div class="footer__title">
      <div class="waviy2">
        <h2><a href="contact.html">
          <span style="--v:1">L</span>
          <span style="--v:2">e</span>
          <span style="--v:3">t</span>
          <span style="--v:4">'</span>
          <span style="--v:5">s</span>
          <span style="--v:6"></span>
          <span style="--v:7"></span>
          <span style="--v:8">t</span>
          <span style="--v:9">a</span>
          <span style="--v:10">l</span>
          <span style="--v:11">k</span>
          <span style="--v:12">!</span>
        </a></h2>
      </div>
    </div>
    <div class="footer__links">
      <span style="--v:1" class="flipX">
        <a href="https://github.com/Doyeon-k-fanshawe" target="_blank">
          <i class="fa-brands fa-github"></i>
        </a>
      </span>

      <span style="--v:2" class="flipX">
        <a href="https://www.linkedin.com/in/doyeon-k-761345232" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </span>
      
      <span style="--v:3" class="flipX">
        <a href="https://www.instagram.com/dy_ssi.k/" target="_blank">
          <i class="fa-brands fa-square-instagram"></i>
        </a>
      </span>
    </div>
    <p class="footer__rights">
      2022 Doyeon Kim's Portfolio - All rights reserved
    </p>
  </section>

  <!-- Arrow Up -->
  <button class="arrow-up">
    <i class="fa-solid fa-arrow-up"></i>
  </button>


  <!-- JS Files goes here -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="js/work.js" type="module" defer></script>
</body>
</html>