<sectio id="main">
  <h2>정식 비지니스 등록넘버를 가진 <br>
      캐나다 온타리오 정착 (랜딩) 서비스 업체
  </h2>
  <div class="main__bt">
    <div class="main__logo">
      <img scr="/images/" alt="로고">
    </div>
    <p><span>다년간의 정착서비스</span> 노하우와 <span>여러 분야의 전문파트너</span>들과의 협업으로 <br>
        막막하고 걱정되는 온타리오의 첫 정착에 <span>든든한 친구</span>가 되어드리겠습니다.
    </p>
  </div>
  <div class="main__naver__logo">
    <img src="/images" alt="네이버 로고">
    <small>BARO 랜딩 서비스 블로그 방문하기</small>
  </div>
</sectio>