<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://use.typekit.net/omo7nhe.css">
    <link rel="stylesheet" href="/css/main.css"/>
    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
    <script src="https://kit.fontawesome.com/d01e7b9f50.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <h1 class="hidden">Welcome to BARO LANDING!</h1>
    <nav id="navbar">
      <div id="navbar__logo">
      </div>
      <ul id="navbar__menu" class="disNo">
        <li class="navbar__menu__item"><a href="/"><h2>Main</h2></a></li>
        <li class="navbar__menu__item"><a href="/about"><h2>about</h2></a></li>
        <li class="navbar__menu__item"><a href="/why"><h2>Why</h2></a></li>
        <li class="navbar__menu__item"><a href="/introduce"><h2>introduce</h2></a></li>
        <li class="navbar__menu__item"><a href="/book"><h2>book</h2></a></li>
        <li class="navbar__menu__item"><a href="/contract"><h2>contract</h2></a></li>
      </ul>
    </nav>


    {{{ body }}}

    
  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  <script src="/js/main.js" type="module" defer></script>
  </body>
</html>
