<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/main.css"/>
    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
    <script src="https://kit.fontawesome.com/d01e7b9f50.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <h1 class="hidden">Welcome to BARO LANDING!</h1>
    <div id="section">
      <nav id="navbar">
        <div id="navbar__line"></div>
        <ul id="navbar__menu">
          <li class="navbar__menu__item"><a href="/about"><h6>정착 랜딩 알아보기</h6></a></li>
          <li class="navbar__menu__item"><a href="/why"><h6>Why BARO?</h6></a></li>
          <li class="navbar__menu__item"><a href="/introduce"><h6>회사소개</h6></a></li>
          <li class="navbar__menu__item"><a href="/contract"><h6>신청서 양식</h6></a></li>
          <li class="navbar__menu__item"><h6>계약서 양식</h6></li>
          <li class="navbar__menu__item"><a href="/book"><h6>문의하기</h6></a></li>
          <li><a href=""><img src="/images/" alt="카카오톡 로고"></a></li>
          <li><a href=""><img src="/images/" alt="인스타그램 로고"></a></li>
        </ul>
      </nav>
      {{{ body }}}
      <footer id="footer">
        <p>© BAROlandingservice. All rights reserved.</p>
      </footer>
    </div>
  
    
  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  <script src="/js/main.js" type="module" defer></script>
  </body>
</html>
