  /* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #F4F4F4;
  --color-dark-white: #CCCCCC;
  --color-red: #A14631;
  --color-dark-red: #AB7D72;
  --color-green: #00C90A;
  --color-yellow: #E3B100;
  --color-black: #000000;

  /* Font size */
  --font-super-large: 35px;
  --font-large: 30px;
  --font-medium: 25px;
  --font-regular: 20px;
  --font-regular-small: 15px;
  --font-small: 12px;
  --font-micro: 10px;

  /* Font weight */
  --weight-black: 900;
  --weight-bold: 700;
  --weight-medium: 500;
  --weight-regular: 400;
  --weight-light: 300;
  --weight-thin: 100;

  /* Size */


  /* Animation */


}

/* Universal tags */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

.hidden {
  display: none;
}


/* Typography */

h2 {
  font-size: var(--font-super-large);
  font-weight: var(--weight-bold);
}

h3 {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
}

h4 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
}

h5 {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
}

h6 {
  font-size: var(--font-regular-small);
  font-weight: var(--weight-bold);
}

p {
  font-size: var(--font-regular-small);
  font-weight: var(--weight-regular);
}
