#footer {
  position: absolute;
  height: 50px;
  left: 560px;
  top: 700px;
}

#footer p {
  color: var(--color-black);
  text-align: center;
}

#footer__about {
  margin: auto;
  text-align: center;
  padding: 50px;
}