#footer__landing {
  position: absolute;
  height: 50px;
  left: 560px;
  top: 700px;
}

#footer__landing p {
  color: var(--color-black);
  text-align: center;
}

#footer {
  margin: auto;
  text-align: center;
  padding: 50px;
}

#chat {
  display: none;
}