@media screen and (min-width: 1201px) {
  /* Home */
  // Hero Img
  #home {
    // background: url("../images/home_background.png") center/cover no-repeat;
    padding-top: 100px;
    text-align: center;
    max-height: 800px;
    background-color: #ffe2e2;
  }

  #home img {
    // width: 100vw;
    max-height: 700px;
  }
  
  // Name part
  .home__name {
    position: relative;
    bottom: 550px;
    margin: auto;
    right: 80px;
    max-width: 600px;
  }

  .home__name h2 {
    position: absolute;
    font-size: var(--font-super-large);
    font-weight: var(--weight-bold);
    color: var(--color-pink);
  }

  .home__name h2:nth-child(1) {
    color: transparent;

    -webkit-text-stroke: 2px var(--color-pink);
  }

  .home__name h2:nth-child(2) {
    color: var(--color-pink);
    animation: animate 4s ease-in-out infinite;
  }

  @keyframes animate {
    0%,
    100% {
      clip-path: polygon(
        0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
      );
    }
  
    50% {
      clip-path: polygon(
        0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%
      );
    }
  }
  
  

  // Social Part
  .home__socialbox {
    position: relative;
    bottom: 180px;
    left: 360px;
    // transform: translate(-12%);
  }

  .home__socialbox i {
    color: var(--color-lavender);
    font-size: var(--font-little-large);
    margin: 0 18px;
  }

  .waviy {
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  }
  
  .waviy span {
    display: inline-block;
    animation: waviy 1.5s infinite;
    animation-delay: calc(.1s * var(--i));
  }

  @keyframes waviy {
    0%, 40%, 100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }


  // Contact part
  .home__contactbox {
    position: relative;
    bottom: 160px;
    left: 365px;
  }

  .contactbox__contact {
    background-color: var(--color-lavender);
    color: var(--color-white);
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid var(--color-white);
    border-radius: var(--size-border-radius);
    cursor: pointer;
    animation: jump 0.6s linear infinite alternate;
  }

  @keyframes jump {
    0% { transform: translateY(0px);}
    50% { transform: translateY(-10px);}
    100% { transform: translateY(0px);}
  }

}

@media screen and (max-width: 1200px) {
  /* Home */
  // Hero Img
  #home {
    // background: url("../images/home_background.png") center/cover no-repeat;
    padding-top: 100px;
    text-align: center;
    max-height: 700px;
    background-color: #ffe2e2;
  }

  #home img {
    width: 100vw;
    max-height: 600px;
  }

  // Name part
  .home__name h2 {
    position: absolute;
    top: 240px;
    margin: auto;
    left: 220px;
    max-width: 600px;
    font-size: var(--font-super-large);
    font-weight: var(--weight-semi-bold);
    color: var(--color-pink);
  }

  .home__name h2:nth-child(1) {
    color: transparent;

    -webkit-text-stroke: 2px var(--color-pink);
  }

  .home__name h2:nth-child(2) {
    color: var(--color-pink);
    animation: animate 4s ease-in-out infinite;
  }

  @keyframes animate {
    0%,
    100% {
      clip-path: polygon(
        0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
      );
    }
  
    50% {
      clip-path: polygon(
        0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%
      );
    }
  }

  // Social Part
  .home__socialbox {
    position: relative;
    bottom: 160px !important;
    left: 310px;
    // transform: translate(-12%);
  }

  .home__socialbox i {
    color: var(--color-lavender);
    font-size: var(--font-little-large);
    margin: 0 18px;
  }

  .waviy {
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  }
  
  .waviy span {
    display: inline-block;
    animation: waviy 1.5s infinite;
    animation-delay: calc(.1s * var(--i));
  }

  @keyframes waviy {
    0%, 40%, 100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-10px)
    }
  }

  // Contact part
  .home__contactbox {
    position: relative;
    bottom: 150px !important;
    left: 310px;
  }

  .contactbox__contact {
    background-color: var(--color-lavender);
    color: var(--color-white);
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid var(--color-white);
    border-radius: var(--size-border-radius);
    cursor: pointer;
    animation: jump 0.6s linear infinite alternate;
  }

  @keyframes jump {
    0% { transform: translateY(0px);}
    50% { transform: translateY(-5px);}
    100% { transform: translateY(0px);}
  }
}

@media screen and (max-width: 1050px) {
  #home {
    max-height: 650px;
  }

  #home img {
    width: 100%;
    max-height: 550px;
  }

  .home__name h2 {
    position: absolute;
    top: 230px;
    margin: auto;
    left: 200px;
    max-width: 600px;
    font-size: var(--font-little-large);
    font-weight: var(--weight-semi-bold);
    color: var(--color-pink);
  }

  // Social Part
  .home__socialbox {
    position: relative;
    bottom: 140px !important;
    // left: 300px;
    transform: translate(-5%);
  }

  .home__socialbox i {
    color: var(--color-lavender);
    font-size: var(--font-little-large);
    margin: 0 18px;
  }

  // Contact part
  .home__contactbox {
    position: relative;
    bottom: 135px !important;
    // left: 300px;
    transform: translate(-5%);
  }

  .contactbox__contact {
    background-color: var(--color-lavender);
    color: var(--color-white);
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid var(--color-white);
    border-radius: var(--size-border-radius);
    cursor: pointer;
    animation: jump 0.6s linear infinite alternate;
  }


}

@media screen and (max-width: 880px) {
  #home {
    max-height: 600px;
  }

  #home img {
    width: 100vw;
    max-height: 500px;
  }

  // Name part
  .home__name h2 {
    position: absolute;
    top: 220px;
    margin: auto;
    left: 150px;
    max-width: 600px;
    font-size: var(--font-little-large);
    font-weight: var(--weight-semi-bold);
    color: var(--color-pink);
  }

  // Social Part
  .home__socialbox {
    position: relative;
    bottom: 130px !important;
    // left: 310px;
    transform: translate(-8%);
  }

  .home__socialbox i {
    color: var(--color-lavender);
    font-size: var(--font-large);
    margin: 0 18px;
  }

  // Contact part
  .home__contactbox {
    position: relative;
    bottom: 120px !important;
    // left: 300px;
    transform: translate(-8%);
  }

  .contactbox__contact {
    background-color: var(--color-lavender);
    color: var(--color-white);
    font-size: var(--font-micro);
    font-weight: var(--weight-bold);
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid var(--color-white);
    border-radius: var(--size-border-radius);
    cursor: pointer;
    animation: jump 0.6s linear infinite alternate;
  }

}

@media screen and (max-width: 768px) {
  /* Home */
  .home__container {
    height: 500px;
    background-image: url("../images/hero_img/home_background4.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  #home picture {
    display: none;
  }

  .disNo {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  /* Home */
  #home {
    max-height: 600px;
  }

  .home__container {
    height: 400px;
    background-image: url("../images/hero_img/home_background4.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  // Name part
  .home__name h2 {
    position: absolute;
    top: 230px;
    margin: auto;
    left: 130px;
    max-width: 600px;
    font-size: var(--font-little-large);
    font-weight: var(--weight-semi-bold);
    color: var(--color-pink);
  }

  // Social Part
  .home__socialbox {
    position: relative;
    bottom: 115px !important;
    // left: 310px;
    transform: translate(-12%);
  }

  .home__socialbox i {
    color: var(--color-lavender);
    font-size: var(--font-large);
    margin: 0 18px;
  }

  // Contact part
  .home__contactbox {
    position: relative;
    bottom: 120px !important;
    // left: 300px;
    transform: translate(-12%);
  }

  .contactbox__contact {
    background-color: var(--color-lavender);
    color: var(--color-white);
    font-size: var(--font-micro);
    font-weight: var(--weight-bold);
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid var(--color-white);
    border-radius: var(--size-border-radius);
    cursor: pointer;
    animation: jump 0.6s linear infinite alternate;
  }
}

@media screen and (max-width: 370px) {
  /* Home */
  #home {
    max-height: 500px;
  }

  .home__container {
    height: 300px;
    background-image: url("../images/hero_img/home_background4.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}
