/* Main Page */
  #main h2 {
    // margin: 130px 0 100px 0;
    width: 600px;
    position: absolute;
    height: 43px;
    left: 171px;
    top: 120px;
    line-height: 50px;
    animation-name: topToBottom, fadeOut;
    -moz-animation: topToBottom, fadeOut; /* Firefox */
    -webkit-animation: topToBottom, fadeOut; /* Safari and Chrome */
    -o-animation: topToBottom, fadeOut; /* Opera */
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
  }

  #main p {
    line-height: 30px;
    margin-bottom: 30.5px;
    width: 500px;
  }
  
  .tabletDisno {
    display: block;
  }

  #main p:last-child {
    display: none;
  }

  #main span {
    color: var(--color-red);
    font-weight: var(--weight-bold);
  }

  .main__bt {
    position: absolute;
    height: 160px;
    left: 171px;
    top: 310px;
    animation-name: bottomToTop, fadeOut;
    -moz-animation: bottomToTop, fadeOut; /* Firefox */
    -webkit-animation: bottomToTop, fadeOut; /* Safari and Chrome */
    -o-animation: bottomToTop, fadeOut; /* Opera */
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
  }

  .main__logo {
    // background-color: var(--color-dark-white);
    width: 525px;
    height: 160px;
    margin-bottom: 45px;
  }

  .main__logo img {
    width: 525px;
    // height: 160px;
  }

  .main__naver__logo {
    position: absolute;
    height: 30px;
    left: 171px;
    top: 615px;
  }

  .main__naver__logo img {
    width: 50px;
    height: 50px;
    background-color: var(--color-dark-white);
    position: relative;
    top: 3px;
  }

  .main__naver__logo small {
    font-size: var(--font-small);
    font-weight: var(--weight-regular);
    margin: 35px 0 0 10px;
  }


  @keyframes topToBottom {
    from { 
      top: 0; 
    }
    to {
      top: 120px; 
    }
  }

  @-moz-keyframes topToBottom { /* Firefox */
    from { 
      top: 0; 
    }
    to {
      top: 120px; 
    }
  }
  @-webkit-keyframes topToBottom { /* Safari and Chrome */
    from { 
      top: 0; 
    }
    to {
      top: 120px; 
    }
  }
  @-o-keyframes topToBottom { /* Opera */
    from { 
      top: 0; 
    }
    to {
      top: 120px; 
    }
  }

  @keyframes bottomToTop {
    from { 
      top: 400px; 
    }
    to {
      top: 310px; 
    }
  }

  @-moz-keyframes bottomToTop { /* Firefox */
    from { 
      top: 400px; 
    }
    to {
      top: 310px; 
    }
}
@-webkit-keyframes bottomToTop { /* Safari and Chrome */
    from { 
      top: 400px; 
    }
    to {
      top: 310px; 
    }
}
@-o-keyframes bottomToTop { /* Opera */
    from { 
      top: 400px; 
    }
    to {
      top: 310px; 
    }
}

  @keyframes fadeOut {
    from {
      opacity: 0; 
    }
    to { 
      opacity: 1; 
    }
  }

  @-moz-keyframes fadeOut { /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadeOut { /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadeOut { /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.main__tablet__naver {
  display: none;
}
