@media screen and (min-width: 1201px) {

  /* About */
  #about h2 {
    margin-bottom: 15px;
  }

  #about p {
    line-height: 25px;
    color: var(--color-gray);
  }

  .about__majors_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .about__majors {
    display: flex;
    flex-direction: column;
    margin: 80px 0;
  }

  .major__icon {
    width: 180px;
    height: 180px;
    font-size: 70px;
    line-height: 190px;
    border: 1px solid var(--color-lavender);
    border-radius: 50%;
    margin-bottom: 20px;
  }

  .major__icon i {
    color: var(--color-lavender);
    animation: jump 1s ease-in-out infinite alternate;
  }

  .major__title {
    color: var(--color-dark-gray);
    font-size: var(--font-regular);
    font-weight: var(--weight-medium);
    margin-bottom: 10px;
  }

  .major__description {
    color: var(--color-gray);
    font-size: var(--font-small);
    font-weight: var(--weight-light);
  }

  .job {
    display: flex;
    align-items: center;
  }

  .job img {
    width: 60px;
  }

  .job__description {
    margin: 0 16px;
    text-align: center;
  }

  .job__name,
  .job__period {
    color: var(--color-gray);
  }

  .job__name {
    font-size: var(--font-small);
    font-weight: var(--weight-medium);
  }

  .job__period {
    font-size: var(--font-micro);
  }

  /* Skills */
  #skills {
    background-color: var(--color-light-pink);
  }

  .section__container h2 {
    margin-bottom: 10px;
  }

  .section__container h3 {
    margin-bottom: 8px;
  }

  .section__container p {
    line-height: 25px;
    color: var(--color-gray);
    margin-bottom: 40px;
  }

  .skillset {
    display: flex;
    background-color: var(--color-light-orange);
    color: var(--color-black);
  }

  // .skillset__title {
  //   color: var(--color-black);
  //   font-weight: var(--weight-semi-bold);
  //   font-size: var(--font-medium);
  // }

  .skillset__left {
    flex-basis: 60%;
    background-color: var(--color-light-purple);
    padding: 20px 40px;
  }

  .skill_description {
    display: flex;
    justify-content: space-between;
    font-weight: var(--weight-medium);
    font-size: var(--font-regular);
  }

  .skill_description span:first-child {
    margin-bottom: 10px;
  }

  .skill {
    margin-bottom: 12px;
  }

  .skill__bar {
    width: 100%;
    height: 3px;
    background-color: var(--color-light-white);
    margin-bottom: 8px;
  }

  .skill__value {
    width: 100%;
    height: 3px;
    background-color: var(--color-purple);
  }

  .skillset__right {
    flex-basis: 40%;
  }

  // .skillset__title {
  //   margin-bottom: 15px !important;
  // }

  .tools {
    background-color: var(--color-light-yellow);
  }


  .tools__list li {
    margin-bottom: 12px;
  }

  .tools, .ect {
    padding: 20px;
  }

  .ect {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
  }

}

@media screen and (max-width: 1200px) {

  /* About */
  #about h2 {
    margin-bottom: 15px;
  }

  #about p {
    line-height: 25px;
    color: var(--color-gray);
  }

  .about__majors_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .about__majors {
    display: flex;
    flex-direction: column;
    margin: 80px 0;
  }

  .major__icon {
    width: 140px;
    height: 140px;
    font-size: 50px;
    line-height: 140px;
    border: 1px solid var(--color-lavender);
    border-radius: 50%;
    margin-bottom: 30px;
  }

  .major__icon i {
    color: var(--color-lavender);
    animation: jump 1s ease-in-out infinite alternate;
  }

  .major__title {
    color: var(--color-dark-gray);
    font-size: var(--font-regular);
    font-weight: var(--weight-medium);
    margin-bottom: 10px;
  }

  .major__description {
    color: var(--color-gray);
    font-size: var(--font-small);
    font-weight: var(--weight-light);
  }

  .job {
    display: flex;
    align-items: center;
  }

  .job img {
    width: 60px;
  }

  .job__description {
    margin: 0 16px;
    text-align: center;
  }

  .job__name,
  .job__period {
    color: var(--color-gray);
  }

  .job__name {
    font-size: var(--font-small);
    font-weight: var(--weight-medium);
  }

  .job__period {
    font-size: var(--font-micro);
  }

  /* Skills */
  #skills {
    background-color: var(--color-light-pink);
  }

  .section__container h2 {
    margin-bottom: 10px;
  }

  .section__container h3 {
    margin-bottom: 8px;
  }

  .section__container p {
    line-height: 25px;
    color: var(--color-gray);
    margin-bottom: 40px;
  }

  .skillset {
    display: flex;
    background-color: var(--color-light-orange);
    color: var(--color-black);
  }

  // .skillset__title {
  //   color: var(--color-black);
  //   font-weight: var(--weight-semi-bold);
  //   font-size: var(--font-medium);
  // }

  .skillset__left {
    flex-basis: 60%;
    background-color: var(--color-light-purple);
    padding: 20px 40px;
  }

  .skill_description {
    display: flex;
    justify-content: space-between;
    font-weight: var(--weight-medium);
    font-size: var(--font-regular);
  }

  .skill_description span:first-child {
    margin-bottom: 10px;
  }

  .skill {
    margin-bottom: 12px;
  }

  .skill__bar {
    width: 100%;
    height: 3px;
    background-color: var(--color-light-white);
    margin-bottom: 8px;
  }

  .skill__value {
    width: 100%;
    height: 3px;
    background-color: var(--color-purple);
  }

  .skillset__right {
    flex-basis: 40%;
  }

  // .skillset__title {
  //   margin-bottom: 15px !important;
  // }

  .tools {
    background-color: var(--color-light-yellow);
  }


  .tools__list li {
    margin-bottom: 12px;
  }

  .tools, .ect {
    padding: 20px;
  }

  .ect {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
  }
}

@media screen and (max-width: 768px) {
  /* About */

  .about__majors_section {
    flex-direction: column;
  }

  .about__majors {
    margin-bottom: 5px;
    text-align: center;
    margin: 40px 0;
  }

  .major__icon {
    margin: auto;
    margin-bottom: 20px;
  }

  .about__jobs {
    margin-top: 50px;
  }

  .job {
    display: block;
  }

  /* Skills */
  .skillset {
    flex-direction: column;
  }


  .skills__para {
    padding: 15px;
  }

  
}

@media screen and (max-width: 576px) {

  /* About */

  .about__majors_section {
    flex-direction: column;
  }

  .about__majors {
    margin-bottom: 5px;
    text-align: center;
  }

  .major__icon {
    margin: auto;
    margin-bottom: 20px;
  }

  .about__jobs {
    margin-top: 50px;
  }

  .job {
    display: block;
  }

  /* Skills */
  .skillset {
    flex-direction: column;
  }


  .skills__para {
    padding: 15px 25px 15px 25px;
  }

}

@media screen and (max-width: 370px) {
  /* About */

  #about h2 {
    font-size: var(--font-medium);
  }

  #about p {
    font-size: var(--font-small);
    margin-bottom: 50px;
  }

  .about__majors_section {
    margin-bottom: 50px;
  }
  
  .major__icon {
    width: 100px;
    height: 100px;
    font-size: 30px;
    line-height: 100px;
  }

  .job__name {
    margin-bottom: 0px !important;
    font-weight: var(--weight-medium);
  }
  
  
}
