@media screen and (max-width: 1395px) {
  // Navbar
  #navbar__line {
    left: 1138px;
  }
  
  #navbar__menu {
    left: 1114px;
  }

  .transBox {
    position: fixed;
    left: 1120px;
  }

  #navbar__menu img {
    margin-left: 5px;
  }

  // Main
  #main h2 {
    height: 43px;
    left: 130px;
  }

  .main__bt {
    left: 130px;
  }

  .main__naver__logo {
    left: 130px;
  }

  // About
  #about {
    padding: 0 70px;
    width: 1180px;
  }

}

/* Tablet */
@media screen and (max-width: 1280px) {
  // navbar
  #navbar {
    display: none;
  }

  #logo {
    padding: 180px 0px 60px 70px;
  }

  .navBtn {
    display: block;
    width: 100%;
    height: 130px;
    background-color: var(--color-red);

    position: fixed;
    top: -30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding: 50px 0;
    font-size: 30px;
    text-align: center;
    color: var(--color-white);
    z-index: 100;
  }

  .navBtn i {
    margin-top: 5px;
    cursor: pointer;
    animation: jump 1s linear infinite alternate;
  }

  .navBtn p {
    margin: 5px 0 10px 0;
    font-weight: 300;
    font-size: 15px;
  }

  #navbar__tablet {
    position: absolute;
    top: 0;
    width: 100%;
    display: none;
    background-color: var(--color-red);
    height: 900px;
  }

  #navbar__tablet.open {
    display: block;

    animation-name: navToptoBt, fadeOut;
    -moz-animation: navToptoBt, fadeOut; /* Firefox */
    -webkit-animation: navToptoBt, fadeOut; /* Safari and Chrome */
    -o-animation: navToptoBt, fadeOut; /* Opera */
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
  }

  .transBox {
    position: fixed;
    left: auto;
    right: 20px;
  }

  @keyframes jump {
    0% { transform: translateY(0px);}
    50% { transform: translateY(-10px);}
    100% { transform: translateY(0px);}
  }
  
  @-moz-keyframes jump { /* Firefox */
    0% { transform: translateY(0px);}
    50% { transform: translateY(-10px);}
    100% { transform: translateY(0px);}
  }
  @-webkit-keyframes jump { /* Safari and Chrome */
    0% { transform: translateY(0px);}
    50% { transform: translateY(-10px);}
    100% { transform: translateY(0px);}
  }
  @-o-keyframes jump { /* Opera */
    0% { transform: translateY(0px);}
    50% { transform: translateY(-10px);}
    100% { transform: translateY(0px);}
  }


  @keyframes navToptoBt {
    from { 
      top: -80%; 
    }
    to {
      top: 0%; 
    }
  }

  @-moz-keyframes navToptoBt { /* Firefox */
    from { 
      top: -80%; 
    }
    to {
      top: 0%; 
    }
  }
  @-webkit-keyframes navToptoBt { /* Safari and Chrome */
    from { 
      top: -80%; 
    }
    to {
      top: 0%; 
    }
  }
  @-o-keyframes navToptoBt { /* Opera */
    from { 
      top: -80%; 
    }
    to {
      top: 0%; 
    }
  }

  .navbar__menu__tablet {
    display: flex;
    flex-direction: column;
  }

  .navbar__tablet__item {
    text-align: center;
  }

  .navbar__tablet__item h3 {
    font-weight: 400 !important;
    color: var(--color-white);
    margin-bottom: 60px;
  }

  .navbar__tablet__item h3:hover {
    font-weight: var(--weight-bold) !important;
  }

  .navbar__tablet__item img {
    width: 200px;
    margin-top: 90px;
    margin-bottom: 120px;
  }

  .tablet__social {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .tablet__social img {
    width: 60px;
    height: 60px;
    padding-right: 18px;
  }

  .tablet__social img:hover {
    width: 70px;
    height: 70px;
  }

  .closebtnCon {
    display: block;
    text-align: center;
    font-size: 30px;
    color: var(--color-white);
    margin-top: 30px;
  }

  .closebtnCon i {
    cursor: pointer;

    animation: jump 1s linear infinite alternate;
  }

  .closebtnCon p {
    font-weight: 300;
    font-size: 15px;
    margin-top: 5px;
  }


  // main
  #main h2 {
    position: absolute;
    left: 50%;
    top: 50px;
    text-align: center;
    margin-top: 120px;
    transform: translate(-50%,0);

    animation-name: topToBottomTB, fadeOut;
    -moz-animation: topToBottomTB, fadeOut; /* Firefox */
    -webkit-animation: topToBottomTB, fadeOut; /* Safari and Chrome */
    -o-animation: topToBottomTB, fadeOut; /* Opera */
    animation-duration: 3s;
    animation-timing-function: ease-in-out;

  }

  .tabletDisno {
    display: none;
  }

  #main p:last-child {
    display: block;
    width: 520px;
    
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .main__bt {
    position: absolute;
    left: 50%;
    top: 150px;
    transform: translate(-50%,0);

    animation-name: bottomToTopTB, fadeOut;
    -moz-animation: bottomToTopTB, fadeOut; /* Firefox */
    -webkit-animation: bottomToTopTB, fadeOut; /* Safari and Chrome */
    -o-animation: bottomToTopTB, fadeOut; /* Opera */
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
  }

  .main__logo {
    margin: auto;
    margin-top: 200px;
  }

  .main__logo img {
    margin: auto;
  }

  .main__bt p {
    text-align: center;
    margin: auto;
    padding-top: 70px;

    font-size: var(--font-regular);
  }

  .main__naver__logo {
    display: none;
  }

  .main__tablet__naver {
    display: flex;
    flex-direction: column;
    padding-top: 720px;
    margin: auto;
  }

  .main__tablet__naver button {
    width: 342px;
    border: none;
    background-color: var(--color-red);
    margin: auto;
    border-radius: 30px;
    padding: 10px;
  }

  .main__tablet__naver button:last-child {
    background-color: var(--color-green);
    margin-top: 10px;
  }

  .main__tablet__naver h4 {
    color: var(--color-white);
  }

  // Animation
  @keyframes topToBottomTB {
    from { 
      top: 0; 
    }
    to {
      top: 50px; 
    }
  }

  @-moz-keyframes topToBottomTB { /* Firefox */
    from { 
      top: 0; 
    }
    to {
      top: 50px; 
    }
  }
  @-webkit-keyframes topToBottomTB { /* Safari and Chrome */
    from { 
      top: 0; 
    }
    to {
      top: 50px; 
    }
  }
  @-o-keyframes topToBottomTB { /* Opera */
    from { 
      top: 0; 
    }
    to {
      top: 50px; 
    }
  }

  @keyframes bottomToTopTB {
    from { 
      top: 250px; 
    }
    to {
      top: 150px; 
    }
  }

  @-moz-keyframes bottomToTopTB { /* Firefox */
    from { 
      top: 250px; 
    }
    to {
      top: 150px; 
    }
  }
  @-webkit-keyframes bottomToTopTB { /* Safari and Chrome */
    from { 
      top: 250px; 
    }
    to {
      top: 150px; 
    }
  }
  @-o-keyframes bottomToTopTB { /* Opera */
    from { 
      top: 250px; 
    }
    to {
      top: 150px; 
    }
  }

  // Footer
  #footer__landing {
    position: static;
    margin-top: 80px;
  }

  #chat {
    display: block;
    position: fixed;
    bottom: 80px;
    right: 50px;
  }

  #chat button {
    width: 65px;
    height: 65px;
    border: none;
    background-color: var(--color-red);
    border-radius: 100px;
  }

  #chat img {
    width: 35px;
    margin-top: 5px;
  }

}


@media screen and (max-width: 1100px) {
  // Landing
  // #main h2 {
  //   left: 23%;
  // }

  // .main__bt {
  //   left: 25%;
  // }

  // Logo 
  #logo {
    padding: 150px 0px 60px 70px;
  }

  // About
  #about {
    width: 1000px;
  }

  .service__before__up {
    display: flex;
    flex-direction: column;
  }

  .before__container:nth-child(2) {
    height: 200px;
  }

  .service__before p {
    margin: 30px 0;
  }

  .service__after p {
    margin: 35px 0;
  }

  .service__after__box {
    display: flex;
    flex-direction: column;
  }

  .service__after__down__tablet {
    display: block;
  }

  .service__after__down {
    display: none;
  }

  .after__tablet {
    display: block;
  }

  .after__container:nth-child(2) {
    height: 420px;
  }

  .after__container:last-child {
    height: 150px;
  }

  .down__paragraph p {
    margin-bottom: 40px;
  }

  // Contact
  #contact {
    padding: 0 70px;
    max-width: 1000px;
  }

  .contact__container {
    width: 600px;
  }

  .contact__box__first__item input {
    width: 280px;
  }

  .contact__box__first__item:last-child {
    display: none;
  }

  .contact__box__tablet {
    display: flex;
    flex-direction: column;
  }

  .contact__box__tablet input {
    width: 100%;
    height: 40px;
    padding: 10px;
  }

  .baro__poster {
    display: none;
  }


}

@media screen and (max-width: 1000px) {
  // Landing
  // #main h2 {
  //   left: 20%;
  // }

  // .main__bt {
  //   left: 23%;
  // }

  // Why
  #why {
    padding: 0 70px;
    width: 1000px;
  }

  .review__container__items {
    width: 100%;
  }

  .review__container h3 {
    text-align: center;
  }

  .why__button {
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
  }

  .pros__container h3 {
    text-align: center;
    margin: auto;
    padding-bottom: 100px;
  }
  

  .pros__container__item p {
    text-align: center;
    line-height: 40px;
  }

  .pros__container__item__up {
    height: 100px;
  }

  .pros__container__item__up img {
    width: 70px;
    position: relative;
    top: -90px;
    left: -150px;
    
  }

  // Introduce 
  #introduce {
    padding: 0 70px;
    max-width: 1000px;
  }

  #introduce h3 {
    text-align: center;
  }

  .introduce__button {
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
  }

  .lim__container {
    text-align: center;
  }
  
  .lim__container h4 {
    width: 700px;
    margin: auto;
  }

  .park__container { 
    text-align: center;
  }

  .park__container h4 {
    width: 700px;
    margin: auto;
  }

  // Service
  .clean__box {
    width: 550px;
  }

  
}

@media screen and (max-width: 900px) {
  // #main h2 {
  //   left: 18%;
  // }

  // .main__bt {
  //   left: 20%;
  // }

  #why {
    width: 900px;
  }

  #introduce {
    max-width: 900px;
  }

  .lim__container h4 {
    width: 600px;
  }

  .park__container h4 {
    width: 600px;
  }

}

@media screen and (max-width: 800px) {
  // #main h2 {
  //   left: 15%;
  // }

  // .main__bt {
  //   left: 18%;
  // }

  #why {
    width: 800px;
  }

  #introduce {
    max-width: 800px;
  }

  .lim__container h4 {
    width: 500px;
  }

  .park__container h4 {
    width: 500px;
  }

  // Service
  #service {
    padding: 0 70px;
  }

}

@media screen and (max-width: 700px) {
  // #main h2 {
  //   left: 9%;
  // }

  // .main__bt {
  //   left: 12%;
  // }

  #why {
    width: 700px;
  }

  .why__button {
    width: 580px;
  }

  #introduce {
    max-width: 700px;
  }

  .lim__container h4 {
    width: 400px;
  }

  .park__container h4 {
    width: 400px;
  }


  .transBox {
    position: fixed;
    top: 110px;
    right: 20px;
  }
}

/* Mobile */

@media screen and (max-width: 650px) {
  // Landing
  #main {
    width: 650px;
  }

  #main h2 {
    font-size: var(--font-regular);
  //   left: 25%;
  }

  .main__bt {
    text-align: center;
  }

  .main__logo img {
    width: 400px;
  }

  #main p:last-child {
    width: 385px;
    font-size: var(--font-regular-small);
    margin: 0;
  }

  // Logo
  #logo {
    padding: 150px 0px 20px 40px;
  }

  // About
  #about {
    width: 650px;
    padding: 40px;
  }

  .about__button {
    text-align: center;
  }

  .service__before {
    text-align: center;
  }

  .before__container {
    width: 100%;
  }

  // .before__container__up {
  //   justify-content: center;
  // }

  .down__paragraph {
    text-align: center;
  }

  .service__after {
    text-align: center;
  }

  .after__container {
    width: 100%;
  }

  // Why
  #why {
    width: 650px;
    padding: 40px;
  }

  .pros__container__item__up img {
    left: -220px;
  }

  .pros__container__item__up h3 {
    position: relative;
    top: 15px;
    left: 10%;
  }

  // Introduce
  #introduce {
    width: 650px;
    padding: 40px;
  }

  // Service
  #service {
    width: 650px;
    padding: 40px;
  }

  .service__button {
    text-align: center;
  }

  // Contact 
  #contact {
    width: 650px;
    padding: 40px;
  }

  #contact h4 {
    width: 380px;
  }

  .mobileDisNo {
    display: none;
  }

  .mobileDisYes {
    display: block;
  }

  .contact__container {
    width: 550px;
  }

  .contact__box__first__item input {
    width: 250px;
  }

  .contactBtn h4 {
    width: 115px !important;
    margin-left: 10px;
  }
}

@media screen and (max-width: 600px) {
  // Landing 
  #main {
    width: 600px;
  }

  // #main h2 {
  //   left: 22%;
  // }

  // .main__bt {
  //   left: 18%;
  // }


  // About
  #about {
    width: 600px;
  }

  .down__paragraph {
    line-height: 30px;
  }

  .before__container {
    height: 100%;
  }

  // Why
  #why {
    width: 600px;
  }

  .why__button {
    width: 300px;
    flex-direction: column;
    margin-bottom: 40px;
  }

  .why__button button {
    margin: 15px 0;
  }

  .pros__container__item__up h3 { 
    font-size: var(--font-regular) !important;
  }

  .pros__container__item p {
    font-size: var(--font-regular) !important;
  }

  // Introduce
  #introduce {
    width: 600px;
  }

  // Service
  #service {
    width: 600px;
  }

  .pickup__box__item {
    width: 100%;
  }

  .clean__box {
    width: 100%;
  }

  // Contact 
  #contact {
    width: 600px;
  }
  .contact__box__first {
    flex-direction: column;
  }

  #contact input {
    width: 80%;
  }

  .submitBtn {
    text-align: center;
  }

  // Footer 
  #chat {
    right: 20px;
    bottom: 50px;
  }

}

@media screen and (max-width: 550px) {
  // Landing 
  #main {
    width: 550px;
  }

  // #main h2 {
  //   left: 20%;
  // }

  // .main__bt {
  //   left: 16%;
  // }

  // About
  #about {
    width: 550px;
  }

  // Why
  #why {
    width: 550px;
  }

  // Introduce
  #introduce {
    width: 550px;
  }

  #introduce h3 {
    font-size: var(--font-regular);
  }

  // Service
  #service {
    width: 550px;
  }

  .pickup__box__item {
    flex-direction: column;
  }
  
  .pickup__box__item:first-child h4 {
    margin-left: 0;
    margin-top: 12px;
  }

  .pickup__box__item:nth-child(2) h4 {
    margin-left: 0;
    margin-top: 12px;
  }

  .pickup__box__item:last-child h4 {
    margin-left: 0;
    margin-top: 12px;
  }

  // Contact 
  #contact {
    width: 550px;
  }

  .contact__container {
    width: 500px;
  }
}

@media screen and (max-width: 500px) {
  // Landing 
  #main {
    width: 500px;
  }

  // #main h2 {
  //   left: 17%;
  // }

  // .main__bt {
  //   left: 13%;
  // }

  // About
  #about {
    width: 500px;
  }

  .after__container:nth-child(2) {
    height: 100%;
  }

  .after__container {
    height: 100%;
  }

  // Why
  #why {
    width: 500px;
  }

  .pros__container__item__up h3 {
    line-height: 25px;
  }

  .pros__container__item__up img {
    left: -150px;
  }

  // Introduce
  #introduce {
    width: 500px;
  }

  // Service
  #service {
    width: 500px;
  }

  // Contact 
  #contact {
    width: 500px;
  }

  .contact__container {
    width: 450px;
  }
}

@media screen and (max-width: 450px) {
  // Landing 
  #main {
    width: 450px;
  }

  // #main h2 {
  //   left: 15%;
  // }

  // .main__bt {
  //   left: 18%;
  // }

  .main__logo img {
    width: 300px;
  }

  .main__bt p {
    padding-top: 20px;
  }

  #main p:last-child {
    width: 300px;
    font-size: var(--font-regular-small);
    margin: 0;
  }

  .main__tablet__naver button {
    width: 50%;
  }

  .main__tablet__naver h4 {
    font-size: var(--font-regular-small);
  }

  // About
  #about {
    width: 450px;
  }

  // Why
  #why {
    width: 450px;
  }

  // Introduce
  #introduce {
    width: 450px;
  }

  .lim__container img {
    width: 150px;
  }

  .park__container img {
    width: 150px;
  }

  .lim__container h4 {
    width: 320px;
  }

  .park__container h4 {
    width: 320px;
  }

  // Service
  #service {
    width: 450px;
  }

  // Contact 
  #contact {
    width: 450px;
  }

  .contact__container {
    width: 400px;
    right: 10px !important;
  }

}

@media screen and (max-width: 400px) {
  // Landing 
  #main {
    width: 400px;
  }

  // #main h2 {
  //   left: 10%;
  // }

  // .main__bt {
  //   left: 13%;
  // }

  // About
  #about {
    width: 400px;
  }

  .before__container:nth-child(2) {
    height: 100%;
  }

  .after__container:last-child {
    height: 100%;
  }

  // Why
  #why {
    width: 400px;
  }

  .pros__container__item__up img {
    left: -120px;
  }

  // Introduce
  #introduce {
    width: 400px;
  }

  // Service
  #service {
    width: 400px;
  }

  // Contact 
  #contact {
    width: 400px;
  }

  #contact h4 {
    font-size: var(--font-regular-small) !important;
  }

  .contact__container {
    width: 350px;
  }
}

@media screen and (max-width: 350px) {
  // Landing 
  #main {
    width: 350px;
  }

  // #main h2 {
  //   left: 2%;
  // }

  // .main__bt {
  //   left: 7%;
  // }

  // About
  #about {
    width: 350px;
  }

  // Why
  #why {
    width: 350px;
  }

  #why h2 {
    line-height: 45px;
  }

  .why__button {
    width: 200px;
  }

  // Introduce
  #introduce {
    width: 350px;
  }

  #lim_btn {
    margin-bottom: 12px;
  }

  .lim__container h4 {
    width: 250px;
    font-size: var(--font-small);
  }

  .park__container h4 {
    width: 250px;
    font-size: var(--font-small);
  }

  // Service
  #service {
    width: 350px;
  }

  #pickup_btn {
    margin-bottom: 12px;
  }

  // Contact 
  #contact {
    width: 350px;
  }

  .contact__container {
    width: 300px;
  }
}

@media screen and (max-width: 300px) {
  // Landing 
  #main {
    width: 300px;
  }

  // #main h2 {
  //   left: 0%;
  // }

  // .main__bt {
  //   left: 7%;
  // }

  .main__logo img {
    width: 250px;
  }

  #main p:last-child {
    width: 250px;
  }

  // About
  #about {
    width: 300px;
  }

  #before_btn {
    margin-bottom: 12px;
  }

  // Why
  #why {
    width: 300px;
  }

  .pros__container__item__up img {
    left: -80px;
  }

  // Introduce
  #introduce {
    width: 300px;
  }

  // Service
  #service {
    width: 300px;
  }

  // Contact 
  #contact {
    width: 300px;
  }

  #contact h4 {
    width: 200px;
  }

  .contact__container {
    width: 250px;
  }
}