@media screen and (max-width: 1395px) {
  // Navbar
  #navbar__line {
    left: 1138px;
  }
  
  #navbar__menu {
    left: 1114px;
  }

  // Main
  #main h2 {
    height: 43px;
    left: 130px;
  }

  .main__bt {
    left: 130px;
  }

  .main__naver__logo {
    left: 130px;
  }

  // About
  #about {
    padding: 0 70px;
    width: 1180px;
  }

}

/* Tablet */
@media screen and (max-width: 1280px) {
  // navbar
  #navbar {
    display: none;
  }

  .navBtn {
    display: block;
    width: 100%;
    height: 130px;
    background-color: var(--color-red);

    position: fixed;
    top: -30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding: 50px 0;
    font-size: 30px;
    text-align: center;
    color: var(--color-white);
    z-index: 100;
  }

  .navBtn i {
    cursor: pointer;
  }

  .navBtn p {
    margin: 5px 0 10px 0;
    font-weight: 300;
    font-size: 15px;
  }

  #navbar__tablet {
    display: none;
    background-color: var(--color-red);
    height: 900px;
  }

  .navbar__menu__tablet {
    display: flex;
    flex-direction: column;
  }

  .navbar__tablet__item {
    text-align: center;
  }

  .navbar__tablet__item h3 {
    font-weight: 400 !important;
    color: var(--color-white);
    margin-bottom: 60px;
  }

  .navbar__tablet__item img {
    width: 200px;
    margin-top: 90px;
    margin-bottom: 120px;
  }

  .tablet__social {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .tablet__social img {
    width: 60px;
    height: 60px;
    padding-right: 18px;
  }

  .closebtnCon {
    display: block;
    text-align: center;
    font-size: 30px;
    color: var(--color-white);
    margin-top: 30px;
  }

  .closebtnCon i {
    cursor: pointer;
  }

  .closebtnCon p {
    font-weight: 300;
    font-size: 15px;
    margin-top: 5px;
  }


  // main
  #main h2 {
    position: absolute;
    left: 25%;
    top: 50px;
    text-align: center;
    margin-top: 120px;

    animation-name: topToBottomTB, fadeOut;
    -moz-animation: topToBottomTB, fadeOut; /* Firefox */
    -webkit-animation: topToBottomTB, fadeOut; /* Safari and Chrome */
    -o-animation: topToBottomTB, fadeOut; /* Opera */
    animation-duration: 3s;
    animation-timing-function: ease-in-out;

  }

  .main__bt {
    position: absolute;
    left: 25%;
    top: 150px;

    animation-name: bottomToTopTB, fadeOut;
    -moz-animation: bottomToTopTB, fadeOut; /* Firefox */
    -webkit-animation: bottomToTopTB, fadeOut; /* Safari and Chrome */
    -o-animation: bottomToTopTB, fadeOut; /* Opera */
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
  }

  .main__logo {
    margin: auto;
    margin-top: 200px;
  }

  .main__logo img {
    margin: auto;
  }

  .main__bt p {
    text-align: center;
    margin: auto;
    padding-top: 70px;

    font-size: var(--font-regular);
  }

  .main__naver__logo {
    display: none;
  }

  .main__tablet__naver {
    display: flex;
    flex-direction: column;
    padding-top: 680px;
    margin: auto;
  }

  .main__tablet__naver button {
    width: 342px;
    border: none;
    background-color: var(--color-red);
    margin: auto;
    border-radius: 30px;
    padding: 10px;
  }

  .main__tablet__naver button:last-child {
    background-color: var(--color-green);
    margin-top: 10px;
  }

  .main__tablet__naver h4 {
    color: var(--color-white);
  }

  // Animation
  @keyframes topToBottomTB {
    from { 
      top: 0; 
    }
    to {
      top: 50px; 
    }
  }

  @-moz-keyframes topToBottomTB { /* Firefox */
    from { 
      top: 0; 
    }
    to {
      top: 50px; 
    }
  }
  @-webkit-keyframes topToBottomTB { /* Safari and Chrome */
    from { 
      top: 0; 
    }
    to {
      top: 50px; 
    }
  }
  @-o-keyframes topToBottomTB { /* Opera */
    from { 
      top: 0; 
    }
    to {
      top: 50px; 
    }
  }

  @keyframes bottomToTopTB {
    from { 
      top: 250px; 
    }
    to {
      top: 150px; 
    }
  }

  @-moz-keyframes bottomToTopTB { /* Firefox */
    from { 
      top: 250px; 
    }
    to {
      top: 150px; 
    }
  }
  @-webkit-keyframes bottomToTopTB { /* Safari and Chrome */
    from { 
      top: 250px; 
    }
    to {
      top: 150px; 
    }
  }
  @-o-keyframes bottomToTopTB { /* Opera */
    from { 
      top: 250px; 
    }
    to {
      top: 150px; 
    }
  }

  // Footer
  #footer__landing {
    position: static;
    margin-top: 80px;
  }

  #chat {
    display: block;
    position: fixed;
    bottom: 80px;
    right: 50px;
  }

  #chat button {
    width: 65px;
    height: 65px;
    border: none;
    background-color: var(--color-red);
    border-radius: 100px;
  }

  #chat img {
    width: 35px;
    margin-top: 5px;
  }

}


@media screen and (max-width: 1100px) {
  // Logo 
  #logo {
    padding: 150px 0px 60px 70px;
  }

  // About
  #about {
    width: 1000px;
  }

  .service__before__up {
    display: flex;
    flex-direction: column;
  }

  .before__container:nth-child(2) {
    height: 200px;
  }

  .service__before p {
    margin: 30px 0;
  }

  .service__after p {
    margin: 35px 0;
  }

  .service__after__box {
    display: flex;
    flex-direction: column;
  }

  .service__after__down__tablet {
    display: block;
  }

  .service__after__down {
    display: none;
  }

  .after__tablet {
    display: block;
  }

  .after__container:nth-child(2) {
    height: 420px;
  }

  .after__container:last-child {
    height: 150px;
  }

  .down__paragraph p {
    margin-bottom: 40px;
  }

  // Contact
  #contact {
    padding: 0 70px;
    max-width: 1000px;
  }

  .contact__container {
    width: 600px;
  }

  .contact__box__first__item input {
    width: 280px;
  }

  .contact__box__first__item:last-child {
    display: none;
  }

  .contact__box__tablet {
    display: flex;
    flex-direction: column;
  }

  .contact__box__tablet input {
    width: 100%;
    height: 40px;
    padding: 10px;
  }

  .baro__poster {
    display: none;
  }


}

@media screen and (max-width: 1000px) {
  // Landing
  #main h2 {
    left: 20%;
  }

  .main__bt {
    left: 20%;
  }

  // Why
  #why {
    padding: 0 70px;
    width: 1000px;
  }

  .review__container__items {
    width: 100%;
  }

  .review__container h3 {
    text-align: center;
  }

  .why__button {
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
  }

  .pros__container h3 {
    text-align: center;
    margin: auto;
    padding-bottom: 100px;
  }
  

  .pros__container__item p {
    text-align: center;
    line-height: 40px;
  }

  .pros__container__item__up {
    height: 100px;
  }

  .pros__container__item__up img {
    width: 70px;
    position: relative;
    top: -90px;
    left: -150px;
  }

  // Introduce 
  #introduce {
    padding: 0 70px;
    max-width: 1000px;
  }

  #introduce h3 {
    text-align: center;
  }

  .introduce__button {
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
  }

  .lim__container {
    text-align: center;
  }
  
  .lim__container h4 {
    width: 700px;
    margin: auto;
  }

  .park__container { 
    text-align: center;
  }

  .park__container h4 {
    width: 700px;
    margin: auto;
  }

  // Service
  .clean__box {
    width: 550px;
  }

  
}

@media screen and (max-width: 900px) {
  #main h2 {
    left: 16%;
  }

  .main__bt {
    left: 16%;
  }

  #why {
    width: 900px;
  }

  #introduce {
    max-width: 900px;
  }

  .lim__container h4 {
    width: 600px;
  }

  .park__container h4 {
    width: 600px;
  }

}

@media screen and (max-width: 800px) {
  #main h2 {
    left: 12%;
  }

  .main__bt {
    left: 12%;
  }

  #why {
    width: 800px;
  }

  #introduce {
    max-width: 800px;
  }

  .lim__container h4 {
    width: 500px;
  }

  .park__container h4 {
    width: 500px;
  }

}

@media screen and (max-width: 700px) {
  #why {
    width: 700px;
  }

  .why__button {
    width: 580px;
  }

  #introduce {
    max-width: 700px;
  }

  .lim__container h4 {
    width: 400px;
  }

  .park__container h4 {
    width: 400px;
  }

}

/* Mobile */